// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html,
.body {
	//	background: #F7FAFB !important;
}

// Full Width Headers
.header {
	//	background: $body-background;
}

.header .columns {
	padding-bottom: 0;
	vertical-align: middle
}

.header p {
	color: #fff;
	padding-top: 15px;
}

.header .wrapper-inner {
	padding: 20px;
}

.header .container {
	background: transparent;
}

.list {
	color: $black;
	margin: 0;
	padding: 0 30px 0 20px;

	h2 {
		line-height: 19px;
	}

	p {
		line-height: 1.1875;
		margin-bottom: 23px;
	}
}

.footer {
	& .container {
		background: transparent;
	}

	p {
		font-size: 12px;
		margin-bottom: 0;
	}

	th.columns {
		padding: 20px;
	}

	.phone {
		color: #000000;
	}
}

.footer .wrapper-inner {
	padding-bottom: 40px;
}
